#root {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

header {
  width: 20vw;
}
main {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  width: 80vw;
  gap: 1vw;
}

.box {
  width: 49%;
}